.profil {
  background-color: $color-4;
  padding: 50px 50px 0px 50px;

  img {
    border-radius: $border-radius;
    height: 150px;
    margin: 0 30px -30px 0;
  }
}

.profil-content {
  display: flex;
  justify-content: space-around;
}
