@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-1: "DM Serif Display", serif;
$font-2: "Open Sans", sans-serif;

$color-1: #212121;
$color-2: #6d9886;
$color-3: #d9cab3;
$color-4: #f6f6f6;

$border-radius: 50%;

body {
  font-family: $font-2;
  color: $color-1;
  overflow: hidden;
}

h1 {
  font-family: $font-1;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h2 {
  font-family: $font-2;
  font-size: 1rem;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "A A"
    "B C"
    "B D"
    "B E";
}

.navbar {
  // grid-column: span 2;
  grid-area: A;
}
.sidebar {
  grid-area: B;
}
.profi {
  grid-area: C;
}
.contentAddContact {
  grid-area: D;
}

.footer {
  grid-area: E;
}

button {
  padding: 10px 30px;
  margin: 5px;
}
